/* Containers */
.container-fluid{
  padding: 7% 15%;
}

/* Sections */

.colored-section{
  background-color: #ff4c68;
  color:#fff;
}

.white-section{
  background-color: #fff;
}
/* Tags */
h1,h2,h3,h4,h5,h6{
  font-family: "Montserrat";
  font-weight: 900;
}


p{
  color:#8f8f8f;
}

body{
  font-family: "Montserrat";
  text-align: center;
}

/* Headings */
.big-heading{
  line-height: 1.5;
  font-size: 3.5rem;
}

.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}


/* Navigation Bar */

.navbar{
  padding:0 0 4.5rem;
}
.nav-item{
  padding:0 18px;
}
.navbar-brand{
  font-size: 2.5rem;
  font-family: "Ubuntu";
  font-weight: bold;
}
.nav-link{
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 1.25rem;
}

/* Download Buttons */
.download-btn{
  margin:5% 3% 5% 0;
}

/* Title Image */
.title-img{
  width:60%;
  transform: rotate(25deg);
  position: absolute;
  right:30%;
}

.image-container{
  position:relative;
}

/* Title Section */

#title .container-fluid{
  padding:3% 15% 7%;
  text-align: left;
}

/* Features */
#features{
  position: relative;
}

.feature-title{
  font-size: 1.25rem;
}
.feature-box{
  padding:5%;
}

.feature-icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature-icon:hover{
  color:#ff4c68;
}

/* Testimonials Section */
#testimonials {
  background-color: #ef8172;
}

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image{
  border-radius: 100%;
  margin: 1.25rem;
  width: 10%;
}

#press{
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-img{
  width:15%;
  margin:1.25rem 1.25rem 3rem;
}

/* Pricing Section*/

#pricing{
  padding:6rem;
}

.price-text{
  font-size:3rem;
  line-height: 1.5;
}

.pricing-table{
  padding:3% 2%;
}

/* CTA Section */





/* Footer Section */



.footer-icon{
  margin:1.25rem 0.75rem;
}

/* Media Query */

@media (max-width: 1000px) {

  #title{
    text-align: center;
  }
  .image-container{
    position: static;
  }
  .title-img{
    position: static;
    transform: rotate(0);
  }
}
